<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.katri.web.platformSvc.qrSvc.mapper.QrSvcMapper">

	<!-- [플랫폼 서비스] > [통합QR 서비스 안내]  각 페이지에 맞는 데이터 조회-->
	<select id="selectQrSvcData" parameterType="com.katri.web.platformSvc.qrSvc.model.QrSvcSelectReq" resultType="com.katri.web.platformSvc.qrSvc.model.QrSvcSelectRes">
		/* QrSvcMapper.selectQrSvcData ([플랫폼 서비스] > [통합QR 서비스 안내] 각 페이지에 맞는 데이터 조회) */

		SELECT
			tmcm.menu_cptn_sn
			, tmcm.menu_cptn_cd
			, tmcm.menu_cptn_nm
			, tmcm.menu_cptn_cn
		FROM tb_menu_cptn_mng tmcm
		WHERE tmcm.use_yn = 'Y'
			AND tmcm.menu_cptn_cd = #{searchMenuCptnCd}
		ORDER BY tmcm.crt_dt DESC
		LIMIT 1
	</select>

</mapper>