<!DOCTYPE html>
<html lang="ko">
<head>
<title>시험인증 빅데이터 플랫폼</title>
</head>
<body>

<!-- ===== wrap ====== -->
<div style="width:100%;max-width:800px;">
    <table border="0" cellpadding="0" cellspacing="0" style="max-width:800px; border:1px solid #02030f;border-spacing:0;border-collapse:collapse;margin:0px 0px 0px 0px;">
        <thead>
            <tr style="width:100%; height:140px; background-image: url('{d_domainWebFo}/asset/images/mail/bg.png'); background-position:center; background-size:cover; background-repeat:no-repeat; vertical-align: middle;">
                <th style="padding:0 60px;text-align:left">
                    <span style="height:21px"><img src="{d_domainWebFo}/asset/images/mail/logo.png" style="max-width:189px; max-height:21px"></span>
                    <p style="font-size:28px; color:#f1f1f1; font-weight:bold; margin:1px 0 0 0">이용약관 및 개인정보처리방침 변경 안내</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding:60px">
                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%; border-spacing:0;border-collapse:collapse;margin:0px 0px 0px 0px;">
                        <tr>
                            <td style="color:#000; font-size:16px; font-weight:normal; line-height:1.88; word-break: keep-all;">안녕하세요.<br>
                              시험인증 빅데이터 플랫폼 서비스를 이용하시는 고객님께 진심으로 감사드립니다.<br>
                              시험인증 빅데이터 플랫폼 이용약관 및 개인정보 처리 방침이 아래와 같이 변경될 예정입니다.</td>
                        </tr>
                        <tr>
                          <td style="padding:20px 0 0 0">
                            <span style="display:block; font-weight:bold;">적용일</span>
                            <p style="font-size:16px; color:#000000;margin:5px 0 0 0">변경된 이용약관은 <strong style="font-weight:bold;color:#ff6c00">YYYY년 MM월 DD일</strong> 부터 효력이 발생합니다.</p>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding:20px 0 0 0">
                            <span style="display:block; font-weight:bold;">변경내용</span>
                            <p style="font-size:16px; color:#000000;margin:5px 0 0 0">1.이용약관</p>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding:20px 0">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%; border-spacing:0;border-collapse:collapse;margin:0px 0px 0px 0px; border:1px solid #e6e6e6">
                              <colgroup>
                                <col style="width:50%">
                                <col style="width:50">
                              </colgroup>
                              <tbody>
                                <tr>
                                  <th scope="row" style="text-align:center;min-height:50px;font-size:16px; line-height:1.63;font-weight:bold;color:#000;padding:13px 0 13px 20px;background:#f7f7f9; border-right:1px solid #e6e6e6">변경 전</th>
                                  <th scope="row" style="text-align:center;min-height:50px;font-size:16px; line-height:1.63;font-weight:bold;color:#000;padding:13px 0 13px 20px;background:#f7f7f9">변경 후</th>
                                </tr>
                                <tr>
                                  <td style="text-align:center;padding:12px 20px;color:#000;font-weight:normal;line-height:1.63;vertical-align: top;border-right:1px solid #e6e6e6;border-top:1px solid #e6e6e6">
                                    <strong style="font-weight:bold">제N조 (개인 정보의 보호 및 관리)</strong><br>기존 약관 내용이 노출됩니다.
                                  </td>
                                  <td style="text-align:center;padding:12px 20px;color:#000;font-weight:normal;line-height:1.63;vertical-align: top;border-top:1px solid #e6e6e6">
                                    <strong style="font-weight:bold">제N조 (개인 정보의 보호 및 관리)</strong><br>변경된 약관 내용이 노출됩니다.
                                  </td>
                                </tr>
                                <tr>
                                  <td style="text-align:center;padding:12px 20px;color:#000;font-weight:normal;line-height:1.63;vertical-align: top;border-right:1px solid #e6e6e6;border-top:1px solid #e6e6e6">
                                    <strong style="font-weight:bold">제N조 (개인 정보의 보호 및 관리)</strong><br>기존 약관 내용이 노출됩니다.
                                  </td>
                                  <td style="text-align:center;padding:12px 20px;color:#000;font-weight:normal;line-height:1.63;vertical-align: top;border-top:1px solid #e6e6e6">
                                    <strong style="font-weight:bold">제N조 (개인 정보의 보호 및 관리)</strong><br>변경된 약관 내용이 노출됩니다.
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding:0 0 0 0">
                            <p style="font-size:16px; color:#000000;margin:0 0 0 0">2.개인정보처리방침</p>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding:20px 0 40px 0">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%; border-spacing:0;border-collapse:collapse;margin:0px 0px 0px 0px; border:1px solid #e6e6e6">
                              <colgroup>
                                <col style="width:50%">
                                <col style="width:50">
                              </colgroup>
                              <tbody>
                                <tr>
                                  <th scope="row" style="text-align:center;min-height:50px;font-size:16px; line-height:1.63;font-weight:bold;color:#000;padding:13px 0 13px 20px;background:#f7f7f9; border-right:1px solid #e6e6e6">변경 전</th>
                                  <th scope="row" style="text-align:center;min-height:50px;font-size:16px; line-height:1.63;font-weight:bold;color:#000;padding:13px 0 13px 20px;background:#f7f7f9">변경 후</th>
                                </tr>
                                <tr>
                                  <td style="text-align:center;padding:12px 20px;color:#000;font-weight:normal;line-height:1.63;vertical-align: top;border-right:1px solid #e6e6e6;border-top:1px solid #e6e6e6">
                                    <strong style="font-weight:bold">제N조 (개인 정보의 보호 및 관리)</strong><br>기존 약관 내용이 노출됩니다.
                                  </td>
                                  <td style="text-align:center;padding:12px 20px;color:#000;font-weight:normal;line-height:1.63;vertical-align: top;border-top:1px solid #e6e6e6">
                                    <strong style="font-weight:bold">제N조 (개인 정보의 보호 및 관리)</strong><br>변경된 약관 내용이 노출됩니다.
                                  </td>
                                </tr>
                                <tr>
                                  <td style="text-align:center;padding:12px 20px;color:#000;font-weight:normal;line-height:1.63;vertical-align: top;border-right:1px solid #e6e6e6;border-top:1px solid #e6e6e6">
                                    <strong style="font-weight:bold">제N조 (개인 정보의 보호 및 관리)</strong><br>기존 약관 내용이 노출됩니다.
                                  </td>
                                  <td style="text-align:center;padding:12px 20px;color:#000;font-weight:normal;line-height:1.63;vertical-align: top;border-top:1px solid #e6e6e6">
                                    <strong style="font-weight:bold">제N조 (개인 정보의 보호 및 관리)</strong><br>변경된 약관 내용이 노출됩니다.
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                            <td style="padding:0 0 60px 0;text-align: left; vertical-align: top;">
                              <a href="" style="background:#333333;color:#fff; font-size:18px; font-weight:bold; letter-spacing:-.72px; padding:13px 25px 12px 25px; display:inline-block;text-decoration: none;">이용약관</a>
                              <a href="" style="background:#333333;color:#fff; font-size:18px; font-weight:bold; letter-spacing:-.72px; padding:13px 25px 12px 25px; display:inline-block;text-decoration: none; margin-left:10px">개인정보보호정책</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top:1px solid #000; font-size:14px; color:#000; font-weight:normal; padding:30px 0 20px 0">본 메일은 회신되지 않는 발신전용 메일입니다. 문의사항에 대해서는 고객센터(02-3668-3000)를 통해<br>
                            문의해 주시기 바랍니다.</td>
                        </tr>
                        <tr>
                            <td style="padding:0 0 0 0;font-size:14px;color:#000; line-height:1.86;"><strong style="font-weight:bold;">주소 :</strong> 서울특별시 동대문구 왕산로 51(용두동)&nbsp;<strong style="font-weight:bold;">사업자등록번호 :</strong> 204-82-01330<br>
                            TEL : 02-3668-3000  FAX : 02-3668-2900~1<br>COPYRIGHT ⓒKATRI. ALL RIGHTS RESERVED.</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>


</div>
<!-- ===== /wrap ====== -->


</body>
</html>