@charset "utf-8";

body,td,th {
	font-family: "나눔고딕";
	font-size: 10px;
	color: #666666;
	background-color: #f2f5f7;
}
body, div {
	margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;	
    }
html, body, form, #wrap {
    height:100%;
    }
body > #wrap {
    height: 100%;
    min-height:100%;
    }
#wrap{
	margin:0 auto;
	float:left;
	width: 100%;
	background-image: url(../images/log_bg.png);
	background-repeat: no-repeat;
	background-position: center;
    }
#log {
	clear:both;
	margin: auto;
	position: relative;
	height: 277px;
	width: 409px;
	top: 50%;
	margin-top:-139px;
    }
input {
	position: relative;
	height: 27px;
	border: solid #cecece 1px;
	width: 170px;	
	}
.inputBox {
	clear:left;
	position:relative;
	left:69px;
	width:200px;
	margin-bottom:5px;
    }
.top_space { 
   margin: auto;
   position: relative;
   width:auto;
   vertical-align: central;
   height:161px;
   }
.id {
	position: relative;
	float:left;
	position: relative;
	height:25px;
	margin-right:8px;
	vertical-align:middle;
	padding-top:7px;
	}
.pw {
	position: relative;
	float:left;
	width:11px;
	position: relative;
	height:25px;
	margin-right:8px;
	vertical-align:middle;
	padding-top:7px;
	}
.btn_login{
	position:absolute;
	top: 162px;
	left:274px;
	float:left;
	width:67px;
	height:63px;
    }
