<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.katri.web.login.mapper.LoginMapper">

	<!-- 로그인 정보 조회 -->
	<select id="selectLoginDetail" parameterType="com.katri.web.login.model.LoginReq" resultType="com.katri.web.login.model.LoginRes">
		/* LoginMapper.selectLoginDetail (로그인 정보 조회) */

		SELECT
			tm.mngr_id
			, tm.mngr_nm
			, tm.mngr_pwd
			, tm.authrt_grp_sn
			, tm.last_lgn_dt
			, tm.last_lgn_ip_addr
			, tm.use_yn
			, tm.crt_dt
			, tm.crtr_id
			, tm.mdfcn_dt
			, tm.mdfr_id
			, tm.lgn_ref_val
		FROM tb_mngr_bas tm
		WHERE tm.use_yn = 'Y'
			AND tm.mngr_id = #{loginId}
	</select>

	<!-- 로그인 성공시 DB 수정 -->
	<update id="updateLoginSucess" parameterType="com.katri.web.login.model.LoginReq">
		/* LoginMapper.updateLoginSucess (로그인 성공시 DB 수정) */

		UPDATE tb_mngr_bas
		SET
			last_lgn_dt = NOW()
			, last_lgn_ip_addr = #{lastLgnIpAddr}
			, lgn_ref_val = #{lgnRefVal}
		WHERE mngr_id = #{loginId}
	</update>

	<!-- 로그인 HIST 등록 -->
	<insert id="insertLoginHist" parameterType="com.katri.web.login.model.LoginHistReq">
		/* LoginMapper.insertLoginHist (로그인 HIST 등록) */

		INSERT INTO tb_lgn_hist (
			site_ty_cd
			, user_ip_addr
			, user_agnt_val
			, crt_dt
			, crtr_id
		) VALUES (
			#{siteTyCd}
			, #{userIpAddr}
			, #{userAgntVal}
			, now()
			, #{crtrId}
		)
	</insert>

	<!-- 로그인한 사람의 권한에 따른 메뉴 리스트 조회 -->
	<select id="selectLoginAuthrtMenuList" parameterType="com.katri.web.login.model.LoginAuthrtMenuReq" resultType="com.katri.web.login.model.LoginAuthrtMenuRes">
		/* LoginMapper.selectLoginAuthrtMenuList ( 로그인한 사람의 권한에 따른 메뉴 리스트 조회 ) */

		<include refid='sqlSearchLoginAuthrtMenu'/>

		ORDER BY srt_path

	</select>

	<!-- 로그인한 사람의 권한에 따른 메뉴 조회 -->
	<select id="selectLoginAuthrtMenuDetail" parameterType="com.katri.web.login.model.LoginAuthrtMenuReq" resultType="com.katri.web.login.model.LoginAuthrtMenuRes">
		/* LoginMapper.selectLoginAuthrtMenuDetail ( 로그인한 사람의 권한에 따른 메뉴 조회 ) */

		<include refid='sqlSearchLoginAuthrtMenu'/>
		AND (aml.menu_url_addr = #{searchMenuUrl} OR aml.menu_url_addr LIKE (#{searchMenuUrl} || '?%'))
		LIMIT 1

	</select>

	<!-- SQL : 로그인한 사람의 권한에 따른 메뉴 -->
	<sql id="sqlSearchLoginAuthrtMenu">
		/* SQL : 로그인한 사람의 권한에 따른 메뉴 */

		WITH RECURSIVE auth_menu_list( site_ty_cd, menu_sn, menu_nm, menu_url_addr, link_ty_cd, up_menu_sn, all_menu_sn_val, srt_seq, menu_lvl_val, use_yn , path ) as (

			SELECT 	  tmb.site_ty_cd
					, tmb.menu_sn
					, tmb.menu_nm
					, tmb.menu_url_addr
					, tmb.link_ty_cd
					, tmb.up_menu_sn
					, tmb.all_menu_sn_val
					, tmb.srt_seq
					, tmb.menu_lvl_val
					, tmb.use_yn
					, array[tmb.srt_seq]
			FROM 	tb_menu_bas tmb
			WHERE 	tmb.use_yn = 'Y'
			  AND	tmb.up_menu_sn is null

			UNION ALL

			SELECT 	  tmb.site_ty_cd
					, tmb.menu_sn
					, tmb.menu_nm
					, tmb.menu_url_addr
					, tmb.link_ty_cd
					, tmb.up_menu_sn
					, tmb.all_menu_sn_val
					, tmb.srt_seq
					, tmb.menu_lvl_val
					, tmb.use_yn
					, array_append(agm.path, tmb.srt_seq)
			FROM 	tb_menu_bas tmb
			INNER JOIN
				 auth_menu_list agm on ( tmb.up_menu_sn = agm.menu_sn and tmb.use_yn = 'Y')
		)

		/* 권한 그룹 > 메뉴 권한 조회 */
		SELECT	  aml.site_ty_cd
				, aml.menu_sn
				, aml.menu_nm
				, aml.menu_url_addr
				, aml.up_menu_sn
				, aml.all_menu_sn_val
				, aml.link_ty_cd
				, aml.srt_seq
				, aml.menu_lvl_val
				, aml.use_yn
				, aml.path as srt_path

				, tagmm.authrt_grp_menu_sn
				, tagmm.cntn_authrt_yn
		/* 메뉴 목록 */
		FROM 	auth_menu_list aml

		/* 권한 그룹 > 메뉴 권한 */
		INNER JOIN tb_authrt_grp_menu_mng tagmm
			ON ( aml.menu_sn = tagmm.menu_sn and aml.use_yn = 'Y' and tagmm.authrt_grp_sn = #{loginAuthrtGrpSn}  and tagmm.cntn_authrt_yn = 'Y')

		/* 권한 그룹 정보  */
		INNER JOIN tb_authrt_grp_bas tagb
			ON ( tagmm.authrt_grp_sn = tagb.authrt_grp_sn and tagb.use_yn = 'Y' )

		WHERE aml.site_ty_cd = #{searchSiteTyCd}
	</sql>

</mapper>